@colorWhite: #ffffdd;
@colorSand: #ebcfb2;
@colorPink: #d5aca9;
@colorLavender: #b38d97;
@colorHorse: #553739;

body {
  text-align: center;
  background-color: @colorSand;
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.9rem;
  }
  aside {
    position: fixed;  
    left: 70%;
    max-width: 300px;
    .cabinet {
      background-color: @colorPink;
      margin-top: 12px;
      padding: 4px;
      border: 1px solid @colorWhite;
    }
  }
  footer {
    position: fixed;
    top: 90%;
    text-align: center;
  }
  .furnitureCard {
    margin: 6px 2px;
    padding: 0 8px;
  }
  .selectedFurnitureCard {
    .furnitureCard();
    background-color: @colorHorse;
    color: @colorWhite;
    font-weight: 300;
  }
  .selectedCreateFurnitureCard {
    .selectedFurnitureCard();
    background-color: @colorLavender;
  }
  .room {
    position: absolute;
    left: 100px;
    top: 100px;
    border: 2px solid @colorLavender;
    border-radius: 7px;
    background-color: @colorWhite;
  }
  .header {
    color: white;
    background-color: @colorLavender;
  }
}
