@colorWhite: #ffffdd;
@colorSand: #ebcfb2;
@colorPink: #d5aca9;
@colorLavender: #b38d97;
@colorHorse: #553739;

body {
  text-align: center;
  background-color: @colorSand;
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 0.9rem;
  }
  footer {
    position: fixed;
    top: 90%;
  }
  .room {
    position: absolute;
    left: 100px;
    top: 100px;
    border: 2px solid @colorLavender;
    border-radius: 7px;
    background-color: @colorWhite;
    // margin: 10px;
    // padding: 1px;
  }
}
